.jumbotron{
	background-color: #eeeeee;
	color: #333;
	padding: 10px;
}

h1{
	font-family: Arial;
	color: blue;	
}

/* Disabling default behavior of <a> links will disable
   the pointer cursor as well. Let's fix that. */
.nav-item a{
	cursor: pointer;
}